<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Nodo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="../../../assets/images/icon.png">
      </div>
    </div>
    <div class="body">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Red</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Red</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Red</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Red</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Red</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="block" style="margin-bottom: 5%;">ENVIAR</ion-button>
    </div>
  </div>
</ion-content>